/*body{*/
/*    background-color: #000fff;*/
/*}*/

/*.box{*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    background-color: #000fff;*/
/*    animation-name: anim1; !* name - animatsiyani nomi *!*/
/*    animation-duration: 2s; !* animatsiyani davom etish vaqti *!*/
/*    animation-delay: 1s; !* animatsiyani kutib turish vaqti *!*/
/*    animation-timing-function: linear;*/
/*    animation-iteration-count: infinite;*/
/*}*/


/*@keyframes anim1 {*/
/*    25%{*/
/*        transform: translateX(300px);*/
/*    }*/
/*    50%{*/
/*        transform: translateX(300px) translateY(300px);*/
/*        border-radius: 50%;*/
/*        background-color: #00ffff;*/
/*    }*/
/*    75%{*/
/*        transform: translateX(300px) translateY(0);*/
/*    }*/
/*    100%{*/
/*        transform: translateX(0) translateY(0);*/
/*    }*/
/*}*/


.loader{
    width: 200px;
    height: 200px;
    margin: 30px auto;
}

.loader-one{
    width: 100px;
    height: 100px;
    border: 2px solid;
    border-radius: 50%;
    padding: 10px;
    box-sizing: border-box;
    border-color: transparent #000;

    animation-name: anim2;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.loader-two{
    width: 100%;
    height: 100%;
    border: 2px solid;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 10px;
    border-color: #000 transparent;

    animation-name: anim3;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.loader-three{
    width: 100%;
    height: 100%;
    border: 2px solid;
    border-radius: 50%;
    box-sizing: border-box;
    border-color: transparent #000;

    animation-name: anim4;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    animation-name: anim2;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes anim2 {
    100%{
        transform: rotate(360deg);
    }
}

@keyframes anim3 {
    100%{
        transform: rotate(-720deg);
    }
}

@keyframes anim4 {
    100%{
        transform: rotate(1440deg);
    }
}



.css{
    width: 70px;
    height: 40px;
    background-color: #000fff;
    font-size: 30px;
    font-weight: bolder;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    animation-name: box;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes box {
    25%{
        transform: rotate(35deg);
    }
    50%{
        transform: translateX(300px) rotate(0);
        background-color: #00ffff;
    }
    75%{
        transform: translateX(300px) rotate(0);
        background-color: #00ffff;
    }
    100%{
        transform: translateX(0) rotate(-360deg);
    }
}
